{
  "presets": [
    ["@babel/preset-env", {
    "targets": {
      "android": "7",
      "chrome": "70",
      "safari": "12",
      "ios": "12"
      },
      "useBuiltIns": "entry",
      "corejs": 3,
      "modules": "auto"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "corejs": false,
      "helpers": true,
      "useESModules": false
    }],
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-private-methods", 
    "@babel/plugin-transform-nullish-coalescing-operator",
    "@babel/plugin-transform-optional-chaining"
  ]
}